cryptography~=41.0.7
GDAL==${LIBGDAL_VERSION}
GeoAlchemy2~=0.14.3
geomet==1.0.0
ijson~=3.2.3
openpyxl~=3.1.2
oracledb~=1.4.2
orjson~=3.9.12
pandas~=1.5.3
paramiko==3.4.0
pika==0.13.1
psycopg2~=2.9.9
pycryptodome==3.20.0
pydantic~=1.10.14
pydash~=7.0.6
PyJWT==2.8.0
pyodbc==4.0.39
python-dateutil==2.8.2
python-keystoneclient~=5.3.0
python-swiftclient~=4.4.0
requests~=2.31.0
Shapely==1.8.5.post1
SQLAlchemy~=1.4.51
urllib3~=1.26.18

# Test requirements
black~=23.12.1
coverage~=7.4.0
flake8~=6.1.0
flake8-docstrings~=1.7.0
Flake8-pyproject~=1.2.3
isort~=5.13.2
munch~=4.0.0
mypy~=1.5.1
pytest~=7.4.4
